.jumbotron {
    background: url("../pexels-photo-242133.jpeg");
    height: 250px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    opacity: 5px;
}

.text-center {
    margin: -50px;
    color: #383838;
    font-size: 70px;
    font-weight: bold;
}

.panel-title {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #383838;
    font-size: 22px;
}

#addTrain {
    font-family: 'Roboto', sans-serif;
    color: #383838;
    font-size: 22px;
}

.row {
width: 100%;

}


